@font-face {
    font-family: 'Gotham';
    src: url('res/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    border-radius: none;
    font-family: 'Gotham', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    background-color: transparent;
    user-select: none;
    transition: all 0.25s linear;
    font-weight: normal;
    --light: #ECE7DF;
    --dark: #cd966d;
    --darker: #534e41;
}

body {
    background-color: var(--light);
    width: 100%;
    font-size: 18px;
}

section {
    padding: 50px 10px;
}

.section__container {
    max-width: 1000px;
    margin: 0 auto;
}

p, a, button, ol, ul, li, textarea, input, summary {
    font-size: 18px;
}

li {
    margin: 10px 0 10px 20px;
}

p, details {
    margin: 10px 0;
}

h1, h2, h3, h4 {
    margin: 10px 0;
}

s {
    margin-bottom: 20px;
}

u {
    color: var(--dark);
}

.intro {
    height: calc(100vh - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 36px;
    color: var(--light);
    text-align: center;
}

.intro__bg {
    filter: brightness(40%);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

.about {
    background-color: var(--darker);
    color: var(--light);
}

.about__heading {
    text-align: center;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}

.contact {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}

.contact__img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 15px;
}