@font-face {
  font-family: "Gotham";
  src: url("res/Gotham-Book.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("res/Gotham-Medium.ttf") format("truetype");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  border-radius: none;
  font-family: "Gotham", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  background-color: transparent;
  user-select: none;
  transition: all 0.25s linear;
  font-weight: normal;
  line-height: 1.5;
  --light: #ece7df;
  --dark: #cd966d;
  --darker: #534e41;
}

body {
  background-color: var(--light);
  width: 100%;
  font-size: 19px;
}

section {
  padding: 0 15px;
}

.section__container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
}

p,
details,
li {
  margin: 10px 0;
}

h1,
h2,
h3,
h4 {
  margin: 10px 0;
}

u {
  color: var(--dark);
  font-weight: bold;
}

s {
  color: var(--darker);
  font-weight: bold;
}

sup {
  color: var(--dark);
}

i {
  color: var(--dark);
  margin: 0 auto;
  width: 100%;
  text-align: center;
  display: block;
  margin-top: 60px;
}

svg {
  margin-right: 15px;
}

.center {
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}

.item__heading {
  font-weight: bold;
  text-align: center;
}

.right {
  text-align: right;
}

.invert {
  background-color: var(--darker);
  color: var(--light);
}

.intro {
  height: calc(100vh - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 25px;
  color: var(--light);
  text-align: center;
}

.intro__bg {
  filter: brightness(40%);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: -10px;
  z-index: -1;
  object-fit: cover;
}

.intro__heading {
  margin-bottom: 50px;
}

.targeting {
  padding: 50px 15px 0 15px;
}

.targeting__text {
  margin: 20px 0;
}

.conditions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
}

.condition {
  padding: 20px 30px;
  border-radius: 40px;
  margin-bottom: 20px;
  max-width: 300px;
  color: var(--light);
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto 20px auto;
}

.slide {
  margin: 0 auto;
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 101%;
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin: 0 10vw;
  transition: 0.6s ease;
  color: var(--light);
  background-color: var(--dark);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  text-align: center;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.dots {
  display: flex;
  justify-content: center;
  margin: 10px 0 40px 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 3px;
  background-color: var(--light);
  border-radius: 50%;
  transition: background-color 0.6s ease;
}

.active {
  background-color: var(--dark);
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.pro {
  font-weight: bold;
  margin: 20px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 30px;
  justify-content: center;
}

.item__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.item {
  padding: 15px 40px;
  border-radius: 40px;
  width: 340px;
  color: var(--light);
  background-color: var(--dark);
  font-size: 17px;
  margin: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item_big {
  height: calc(100% - 10px);
}

@media (max-width: 730px) {
  .day_2 {
    position: relative;
    top: -440px;
    left: 0;
    height: auto;
  }
  .day_3 {
    position: relative;
    top: 670px;
    left: 0;
    height: auto;
  }
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
}

.contact {
  max-width: 340px;
  width: 100%;
  margin-bottom: 30px;
}

.contact__img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 15px;
  object-fit: cover;
  height: 340px;
}
